html, body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.btn{
  color: #aaff00;
  background-color: #656461;
  width: 7.5rem;
  text-align: center;
  border: 2px solid;
  height: 7.5rem;
}
h1{
  color: white;
}
.container{
  display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;

}